@import "../../data/styles.css";

.home-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 130px;
}

.home-container {
	padding-top: 25px;
}

.home-first-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.home-title {
	width: 85% !important;
}

.home-subtitle {
	width: 85% !important;
}

.home-first-area-right-side {
	display: flex;
	align-items: center;
}

.home-image-container {
	width: 440px;
	height: 440px;
}

.home-image-wrapper {
	overflow: hidden;
	border-radius: 10%;
}

.home-image-wrapper img {
	width: 100%;
}

.home-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 30px;
}

.home-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.home-social-icon:hover {
	color: var(--primary-color);
}

.home-after-title {
	display: flex;
}

.home-projects {
	flex-basis: 300px;
	padding-top: 40px;
	margin-left: 30px;
}

.home-papers {
	flex-basis: 900px;
	padding-top: 30px;
	margin-left: -30px;
}

.home-paper {
	padding-bottom: 5px;
}

.home-works {
	flex-basis: 600px;
	padding-top: 30px;
}

@media (max-width: 1024px) {
	.home-first-area {
		flex-direction: column;
	}

	.home-first-area-left-side {
		display: flex;
		flex-direction: column; /* Changed: set direction to column */
		align-items: flex-start;
		width: 100%;
		order: 2;
	}

	.home-title {
		width: 100% !important;
		margin-top: 20px;
		order: 2;
	}

	.home-subtitle {
		width: 100% !important;
		margin-top: 10px;
		order: 3;
	}

	.home-first-area-right-side {
		width: 100%;
		order: 1;
	}

	.home-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		order: 1;
	}

	.home-after-title {
		flex-direction: column;
	}

	.home-projects {
		flex-basis: auto;
	}

	.home-papers {
		flex-basis: auto;
	}

	.home-works {
		flex-basis: auto;
		margin-left: -25px;
		margin-right: -25px;
	}
}
